.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/jvm-java/.nb-gradle/
/.nb-gradle/
/nbproject/
/.idea/
*.class
/local.properties
.classpath
.project
*.iml
.settings/

## GWT
war/
test-gwt/war/gwt_bree/
test-gwt/gwt-unitCache/
.apt_generated/
test-gwt/war/WEB-INF/deploy/
test-gwt/war/WEB-INF/classes/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/